<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="RPM.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings/>
    <userSettings>
        <RPM.Properties.Settings>
            <setting name="estiloPredeterminado" serializeAs="String">
                <value>RPM</value>
            </setting>
            <setting name="OcultarColumnas" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RutaInformes" serializeAs="String">
                <value>D:\Proyectos_Vs2005\Igest_Net\Reports_Informes</value>
            </setting>
            <setting name="GuardarClave" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TimeOut" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RutaGoToAssist" serializeAs="String">
                <value />
            </setting>
            <setting name="RutaExportacionRemesas" serializeAs="String">
                <value />
            </setting>
            <setting name="RutaFacturaE" serializeAs="String">
                <value />
            </setting>
            <setting name="usuario_iGest" serializeAs="String">
                <value>contabilidad</value>
            </setting>
            <setting name="password_iGest" serializeAs="String">
                <value>796</value>
            </setting>
            <setting name="BBDD_Empresa" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Servidor" serializeAs="String">
                <value>ERPGestsiam.database.windows.net</value>
            </setting>
            <setting name="usuarioBD" serializeAs="String">
                <value>adminerpgest</value>
            </setting>
            <setting name="passwordBD" serializeAs="String">
                <value>gest6305@</value>
            </setting>
            <setting name="BBDD_Sistema" serializeAs="String">
                <value>SystemRPMDesarrollo</value>
            </setting>
        </RPM.Properties.Settings>
    </userSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<!--<dependentAssembly>
				<assemblyIdentity name="CrystalDecisions.CrystalReports.Engine" publicKeyToken="692FBEA5521E1304" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-11.5.3700.0" newVersion="11.5.3700.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="CrystalDecisions.Shared" publicKeyToken="692FBEA5521E1304" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-11.5.3700.0" newVersion="11.5.3700.0"/>
			</dependentAssembly>-->
		</assemblyBinding>
	</runtime>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
<!--<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>-->
</configuration>
